body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',Arial, sans-serif;
    background-color: #F5F7FB;
  }

  /* ::--webkit-scrollbar{
    width: 0.25rem;
  }
  ::--webkit-scrollbar-track{
    background:#1e1e24;
  }
  ::--webkit-scrollbar-thumb{
    background:#6649b8;
  } */

  body::-webkit-scrollbar {
    width: 10px;               
  }
  
  body::-webkit-scrollbar-track {
    /* background: #494949;  */
    background: whitesmoke;
  }
  .box>a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
  body::-webkit-scrollbar-thumb {
    /* background-color: blue;     */
    background: rgb(209,228,243);
background: linear-gradient(90deg, rgba(209,228,243,1) 35%, rgba(184,224,251,0.49) 64%, rgba(141,207,252,1) 64%);
    border-radius: 5px;      
    border: 0px solid #6649b8;  
  }

  /* CSS styles for the header */
  header {
    background-color: #FFFFFF;
    color: white;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

.logo{
    display: inline-block;
    margin-left: 10px;
    color: #494949;
    font-weight: 200;
    font-weight: lighter;

}
.icons{
    display: inline-block;
    padding-top: 23px;
    margin-right: 10px;
    

}

.icons>a{
    padding-right: 15px;
    
    /* vertical-align: center; */
    
}
  /* CSS styles for the main content */
  main {
    margin: 10px;
    /* display:flexbox; */
    display: flex;
    justify-content: start;
  }

  .side-cards{

width: 25%;
word-wrap: break-word;

  }
  .main-map{
    width: 100%;
  }
  #start{
    /* border:1px solid #494949; */
  }
  input[type=text]{
    box-sizing: border-box;
  border: 3px solid #ccc;
  text-align: center;
  margin: auto;
  margin-left: 12px;
    
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding: 10px;
    margin-top: 8px;
    width: 85%;
  }

  input[type=text]:focus{
    border: 3px solid #242F41;
    transform: scale(1.01);
  }
  /* CSS styles for the boxes */
  .box {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }

  .box > p{

  }

  /* CSS styles for the headings */
  h2 {
    margin-top: 0;
    
  }

  /* CSS styles for the buttons */
  button {
    padding: 10px;
    background-color: #242F41;
    color: #979797;
    font-size: 16px;
    width: 85%;
    margin: 10px auto 0px auto;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  button,input{
    margin-left: 12px;

  }
  button:hover {
    transform: scale(1.1);
    background-color: #4c607f;
    color: white;
  }

  /* CSS styles for the map container */
  #map {
    height: 500px;
    /* width: 100%; */
    /* margin-left: 50px; */
  }
  label{
    font-weight: 600;
  }
  .plan-route{
    justify-items: center;
  }
  .box > h2{
    font-weight: 500;
  }