<!DOCTYPE html>
<html>
<head>
<title>Routing</title>
<meta charset="utf-8" />
<!-- Leaflet CSS/js -->
<link rel="stylesheet" type="text/css" href="lib/leaflet/leaflet.css">
<link rel="stylesheet" type="text/css" href="leaflet-routing-machine.css">

</head>
<body>

	<div id="demo" style="width: 100%; height: 100vh"></div>
	<script type="text/javascript" src="lib/leaflet/leaflet.js"></script>
	<script type="text/javascript" src="leaflet-routing-machine.js"></script>
	<script type="text/javascript" src="Plugins/context-menu.js"></script>
	<script type="text/javascript" src="Plugins/Control.Geocoder.js"></script>



	<script>

		var map = L.map('demo').setView([22.735656, 79.8925], 13);
		var mapLink =
		'<a href="http://openstreetmap.org">OpenStreetMap</a>';
		L.tileLayer(
		'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; ' + mapLink,
		maxZoom: 18,
		}).addTo(map);

		var control = L.Routing.control({
			waypoints: [
			L.latLng(21.6475,78.7465),
			L.latLng(23.4452,79.6642)
			],
			routeWhileDragging: true,
			show:true,
			geocoder: L.Control.Geocoder.nominatim(),
		    altLineOptions:{
				styles: [
					{color: 'black',opacity:0.15,weight:9},
					{color:'white',opacity:0.8,weight:2},
					{color:'blue',opacity:0.5,weight:2}
				]

		    },
	    router: L.routing.mapbox('api')
	}).addTo(map);
	routingControl.on('routesfound', function(e) {
  var route = e.routes[0];
  var secondRoute = L.Routing.control({
    waypoints: [
      L.latLng(21.6475,78.7465),
      L.latLng(23.4452,79.6642)
    ],
    routeWhileDragging: true,
    router: L.Routing.mapbox('api')
  });


 
  var geojson1 = {
    type: "FeatureCollection",
    features: [
      {
        type: "Feature",
        geometry: route.geometry,
        properties: {
          name: "My First Route"
        }
      }
    ]
  };
  var geojson2 = {
    type: "FeatureCollection",
    features: [
      {
        type: "Feature",
        geometry: secondRoute.routes[0].geometry,
        properties: {
          name: "My Second Route"
        }
      }
    ]
  };
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "http://example.com/my-route-endpoint");
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
      var response = JSON.parse(xhr.responseText);
      var routes = response.routes;

      // Add each route to the map as a Leaflet layer
      routes.forEach(function(route) {
        L.geoJSON(route.geometry, {
          style: {
            color: 'red'
          }
        }).addTo(map);
      });
    }
  };
  xhr.send(JSON.stringify([geojson1, geojson2]));
});

	</script>
</body>