<!DOCTYPE html>
<html>
  <head>
    <title>Safe Route Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/Techno-Hackathon--EarthExplorer/Map/styles/styles.css">
  </head>
  <body>
    <header>
      <a href="./landing.html">
        <section class="logo">
          <h1>SafetyRoute</h1>
        </section>
      </a>
      <section class="icons">
        <!-- Language - Section -->
        <a href="">
          <i class="fa fa-chevron-down" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
        
        <!-- Search bar -->
        <a href="">
          <i class="fa fa-search" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
        
        <!-- Notification Bell -->
        <a href="">
          <i class="fa fa-bell" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
        
        <!-- Profile -->
        <a href="">
          <i class="fa fa-user" aria-hidden="true" style="font-size: 24px;"></i>
        </a>
      </section>
    </header>
    <main>

      <section class="side-cards">

        <div class="box">
          <h2>Route Planner</h2>
          <p>Enter your starting point and destination to plan a safe route.</p>
          <form>
            <label for="start">Starting Point:</label>
            <input type="text" id="start" name="start"><br><br>
            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination"><br><br>
            <button type="submit" class="plan-route">Plan Route</button>
          </form>
        </div>

        <div class="box">
          <h2>Recent Incidents</h2>
          <p>No recent incidents have been reported.</p>
          <!-- <button><a href="./form.html"> Incident </a></button> -->
          <a href="./form.html">
            <button> Incident</button>
          </a>
        </div>
        

      </section>
      <section class="main-map">
        <div class="box">
          <h2>Map</h2>
          <div id="map"></div>
        </div>
      </section>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
      var map = L.map('map').setView([28.2380, 83.9956], 11);
		mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'Leaflet &copy; ' + mapLink + ', contribution', maxZoom: 18 }).addTo(map);
      